* {
	box-sizing: border-box;
	line-height: inherit;
	margin: 0;
	padding: 0;
}
*:active,
*:focus {
	outline: none;
}

html {
	background: #aaa;
	height: 100%;
}
body {
	background-color: #fff;
	color: #333;
	font-family: 'Arial', sans-serif;
	font-size: 14px;
	line-height: 1.2;
	margin: 0 auto;
	min-height: 100%;
	padding: 20px;
	width: 800px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: .5em 0;
}

a {
	color: inherit;
}
a[href] {
	text-decoration: underline;
}
a[href]:hover {
	color: #99f;
}

p {
	margin: 1em 0;
}

ul,
ol {
	list-style-position: outside;
	margin: 0.5em 0 0.5em 2em;
}
ul {
	list-style-type: disc;
}
li {
	margin: 0.25em 0;
}

hr {
	border: none;
	border-top: 1px dashed #777;
	height: 0;
	margin: 40px 0;
}

fieldset,
img {
	border: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

input,
select,
textarea,
button {
	border: 1px solid #777;
	border-radius: 3px;
	padding: 3px 6px;
}
input[type=checkbox],
input[type=radio] {
	border: none;
}
button,
input[type=button],
input[type=submit],
input[type=image] {
	cursor: pointer;
	padding: 0.5em;
}
input[disabled],
select[disabled],
textarea[disabled],
button[disabled] {
	background-color: #666;
	cursor: default;
}
button[disabled],
input[type=button][disabled],
input[type=submit][disabled],
input[type=image][disabled] {
}

section {
	margin-bottom: 2em;
}

/* Utils */
.no-user-select {
	-moz-user-select: none;
	-o-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

/* List view */
.view-list,
.view-list ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.view-list {
	cursor: pointer;
}
.view-list-wrap {
	height: 400px;
	max-width: 100%;
	overflow: hidden;
	position: relative;
	width: 350px;
}
.view-list li {
	margin: 0;
	padding: 0;
}
.view-list .item,
.view-list .group-title {
	padding: 8px 4px;
}
.view-list .item {
	border: solid #ccc;
	border-width: 1px 0 0 0;
}
.view-list .item-suffix {
	font-weight: bold;
	padding-left: .5em;
}
.view-list .group-title {
	background: #a1acb5;
	background: -moz-linear-gradient(top,  rgba(145,152,162,.9) 0%, rgba(177,180,187,.9) 100%);
	background: -webkit-linear-gradient(top,  rgba(145,152,162,.9) 0%,rgba(177,180,187,.9) 100%);
	background: -o-linear-gradient(top,  rgba(145,152,162,.9) 0%,rgba(177,180,187,.9) 100%);
	background: -ms-linear-gradient(top,  rgba(145,152,162,.9) 0%,rgba(177,180,187,.9) 100%);
	background: linear-gradient(to bottom,  rgba(145,152,162,.9) 0%,rgba(177,180,187,.9) 100%);
	color: #fff;
	display: block;
	height: 25px;
	padding-bottom: 4px;
	padding-top: 4px;
	text-shadow: 0 1px 0 #555;
}
.view-list .fade-out {
	padding-top: 25px;
}
.view-list .fade-out .group-title {
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
