* {
	line-height: inherit;
	margin: 0;
	padding: 0;
}
*:active,
*:focus {
	outline: none;
}

html {
	background: #fff;
	color: #333;
}
body {
	font-family: 'Arial', sans-serif;
	font-size: 14px;
	line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: .5em 0;
}

a {
	color: inherit;
}
a[href] {
	text-decoration: underline;
}
a[href]:hover {
	color: #99f;
}

p {
	margin: 1em 0;
}

ul,
ol {
	list-style-position: outside;
	margin: 0.5em 0 0.5em 2em;
}
ul {
	list-style-type: disc;
}
li {
	margin: 0.25em 0;
}


fieldset,
img {
	border: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

input,
select,
textarea,
button {
	border: 1px solid #777;
	border-radius: 3px;
	padding: 3px 6px;
}
input[type=checkbox],
input[type=radio] {
	border: none;
}
button,
input[type=button],
input[type=submit],
input[type=image] {
	background-color: #000;
	border: none;
	color: #fff;
	cursor: pointer;
	padding: 0.5em;
}
input[disabled],
select[disabled],
textarea[disabled],
button[disabled] {
	background-color: #666;
	cursor: default;
}
button[disabled],
input[type=button][disabled],
input[type=submit][disabled],
input[type=image][disabled] {
}

section {
	margin-bottom: 2em;
}